@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* 2. Luego importa Tailwind */
@import "tailwindcss";


:root {
  --color-primary:        #764E9F;
  --color-primary-dark:   #542187;
  --color-secondary:      #ABDE80;
  --color-primary-light: #653793;
  --color-secondary-hover: rgba(171, 222, 128, 0.9);
  --color-tertiary:       #BBA6CF;
  --color-white:          #FFFFFF;
}

/* 4. Aplicación global de la fuente */
html {
  font-family: 'Montserrat', sans-serif;
}


button {
  cursor: pointer;
}